@{
    Layout = "_Layout";
}
<style>
    .left-fropdown-menu {
        display: inherit;
        position: inherit;
        background-color: #f5f5f5;
        border-radius: 0px;
        /*   border-right: 1px solid #e0e1e5;*/
        margin: auto;
        min-height: 500px;
        /*text-align:center;*/
    }

        .left-fropdown-menu i {
            margin-left: 15px;
        }

    /*    .leftMenu {
        background-color: #f5f5f5;
        border-radius: 0px;
        border-right: 1px solid #e0e1e5;
    }*/
</style>
<script type="text/javascript">
    $(function () {
        var clientHeight = document.documentElement.clientHeight;
        console.log(clientHeight);
        $(".left-fropdown-menu").css("height", clientHeight)
    });

    function setAllowSelect(checked) {
        var tree = mini.get("tree1");
        tree.setAllowSelect(checked);
    }
    function setShowCheckBox(checked) {
        var tree = mini.get("tree1");
        tree.setShowCheckBox(checked);

        var d = document.getElementById("ShowFolderCheckBox_div");
        d.style.display = checked ? "block" : "none";

        var d = document.getElementById("CheckRecursive_div");
        d.style.display = checked ? "block" : "none";
    }
    function setShowFolderCheckBox(checked) {
        var tree = mini.get("tree1");
        tree.setShowFolderCheckBox(checked);
    }

    function setShowExpandButtons(checked) {
        var tree = mini.get("tree1");
        tree.setShowExpandButtons(checked);
    }
    function setShowTreeIcon(checked) {
        var tree = mini.get("tree1");
        tree.setShowTreeIcon(checked);
    }
    function setShowTreeLines(checked) {
        var tree = mini.get("tree1");
        tree.setShowTreeLines(checked);
    }
    function setAllowSelect(checked) {
        var tree = mini.get("tree1");
        tree.setAllowSelect(checked);
    }
    function setEnableHotTrack(checked) {
        var tree = mini.get("tree1");
        tree.setEnableHotTrack(checked);
    }
    function setCheckRecursive(checked) {
        var tree = mini.get("tree1");
        tree.setCheckRecursive(checked);
    }

    function getSelectedNode() {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();
        if (node) {
            alert(node.text);
        } else {
            alert("请选中节点");
        }
    }
    function getCheckedNodes() {
        var tree = mini.get("tree1");
        var nodes = tree.getCheckedNodes();
        alert("Checked Nodes : " + nodes.length);
    }

    function onSelectNode(e) {
        var tree = e.sender;
        var node = tree.getSelectedNode();
        document.getElementById("nodeText").innerHTML = node.text;
    }

    function findNodes() {
        var tree = mini.get("tree1");
        var nodes = tree.findNodes(function (node) {
            if (node.id == "button") return true;
        });
        alert("find: " + nodes[0].text);
    }
</script>
<div class="leftMenu">
    <div class="dropdown-menu left-fropdown-menu" style="width:210px;">
        <a class="dropdown-item"><i class="bi bi-plus"></i>新建文档</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item @(ViewBag.Title == "我的文档" ? "active" : string.Empty)" asp-controller="Note" asp-action="Index"><i class="bi bi-file-text"></i>最新文档</a>
        <a class="dropdown-item" href="#"><i class="bi bi-share"></i>与我分享</a>

        <a class="dropdown-item" href="#"><i class="bi bi-folder"></i>我的文件夹</a>
        @*<ul id="tree1" class="mini-tree" url="http://localhost:11890/mini-ui/tree.txt" style="width:300px;padding:5px;"
            showTreeIcon="true" textField="text" idField="id" value="base" expandOnNodeClick="true">
        </ul>*@
        <a class="dropdown-item" href="#"><i class="bi bi-star"></i>加星文件</a>
        <a class="dropdown-item" href="#"><i class="bi bi-trash"></i>回收站</a>
    </div>
</div>
@*<table>
    <tr>
        <td valign="top" style="width:300px;">
          

        </td>
        <td valign="top">
            <div style="line-height:22px"><input type="checkbox" id="AllowSelect" checked onclick="setAllowSelect(this.checked)" /><label for="AllowSelect">AllowSelect</label></div>
            <div style="line-height:22px"><input type="checkbox" id="ShowCheckBox" onclick="setShowCheckBox(this.checked)" /><label for="ShowCheckBox">ShowCheckBox</label></div>
            <div id="ShowFolderCheckBox_div" style="line-height:22px;display:none;margin-left:30px;"><input type="checkbox" checked id="ShowFolderCheckBox" onclick="setShowFolderCheckBox(this.checked)" /><label for="ShowFolderCheckBox">ShowFolderCheckBox</label></div>
            <div id="CheckRecursive_div" style="line-height:22px;display:none;margin-left:30px;"><input type="checkbox" id="CheckRecursive" onclick="setCheckRecursive(this.checked)" /><label for="CheckRecursive">CheckRecursive</label></div>
            <div style="line-height:22px"><input type="checkbox" id="ShowExpandButtons" checked onclick="setShowExpandButtons(this.checked)" /><label for="ShowExpandButtons">ShowExpandButtons</label></div>
            <div style="line-height:22px"><input type="checkbox" id="ShowTreeIcon" checked onclick="setShowTreeIcon(this.checked)" /><label for="ShowTreeIcon">ShowTreeIcon</label></div>
            <div style="line-height:22px"><input type="checkbox" id="ShowTreeLines" checked onclick="setShowTreeLines(this.checked)" /><label for="ShowTreeLines">ShowTreeLines</label></div>
            <div style="line-height:22px"><input type="checkbox" id="EnableHotTrack" checked onclick="setEnableHotTrack(this.checked)" /><label for="EnableHotTrack">EnableHotTrack</label></div>


            <br />
            <input type="button" value="getSelectedNode" onclick="getSelectedNode()" />
            <br /><br />
            <input type="button" value="getCheckedNodes" onclick="getCheckedNodes()" />

            <br /><br />
            <input type="button" value="findNodes" onclick="findNodes()" />

        </td>
    </tr>
</table>*@
<div class="content" style="float:right">
    @RenderBody()
</div>

@RenderSection("Scripts", required: false)

