@{
    Layout = "_NoteLayout";
    ViewData["Title"] = "我的文档";
}
@model List<CloudNote.Service.NoteApp.Dtos.NoteDto>
<link rel="stylesheet" href="editormd/css/editormd.css" />
<link href="~/editormd/css/editormd.css" rel="stylesheet" />
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="editormd/editormd.min.js"></script>
<style>
    .noteInfo {
    }
</style>
<script>
    function getContentInfo(noteID) {
        var url = '@Url.Action("GetNote", "Note")?noteID=' + noteID;
        $.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            success: function (data) {               
                if (data != null) {
                    $("#markdowid").text(data.content);
                } else {
                    $("#searchResult").html("出现错误：" + data.msg);
                }
            },
            error: function (jqXHR) {
                alert("发生错误：" + jqXHR.status);
            }
        })
    }
</script>
<div class="noteInfo">
    <ul class="list-group" style="width:250px;height:960px;border-right: 1px solid rgba(0,0,0,.125);">
        @{
            var noteList = ViewBag.NoteList as List<CloudNote.Domain.Entities.NoteEntity>;
            if (Model != null && Model.Count > 0)
            {
                foreach (var note in Model)
                {
                    <li class="list-group-item" style="border:none;border-bottom:1px solid rgba(0,0,0,.125)">
                        <a onclick="getContentInfo('@note.Id')">@note.Content</a>
                    </li>
                }
            }
            else
            {
                <lable style="margin:20px">目前没有笔记，请新建笔记！</lable>
            }
        }
    </ul>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("Edit");}
}