@{
    Layout = "_NoteLayout";
    ViewData["Title"] = "我的文档";
}
@model List<CloudNote.Service.NoteApp.Dtos.NoteDto>
<link rel="stylesheet" href="editormd/css/editormd.css" />
<link href="~/editormd/css/editormd.css" rel="stylesheet" />
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="editormd/editormd.min.js"></script>
<style>
    .noteInfo {
    }
</style>
<div class="noteInfo">
    <ul class="list-group" style="width:250px;height:960px;border-right: 1px solid rgba(0,0,0,.125);">
        @{
            var noteList = ViewBag.NoteList as List<CloudNote.Domain.Entities.NoteEntity>;
            if (Model != null && Model.Count > 0)
            {
                foreach (var note in Model)
                {
                    <li class="list-group-item" style="border:none;border-bottom:1px solid rgba(0,0,0,.125)">@note.Content</li>
                }
            }
            else
            {
                <lable style="margin:20px">目前没有笔记，请新建笔记！</lable>
            }
        }
    </ul>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("Edit");}
}