@model List<CloudNote.Service.UserApp.Dtos.UserDto>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="getData">获取当前页所有数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
        <button class="layui-btn layui-btn-sm" lay-event="reload">重载（保留初始参数）</button>
        <button class="layui-btn layui-btn-sm" lay-event="reload2">重载（不保留初始参数）</button>
        <button class="layui-btn layui-btn-sm" id="dropdown">
            更多菜单
            <i class="layui-icon layui-icon-down layui-font-12"></i>
        </button>
    </div>
</script>

<div class="layui-card">
    <div class="layui-card-body">
        <table id="test" lay-filter="test"></table>
    </div>
</div>

<script type="text/html" id="barOperation">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    var table;
    layui.use(['table', 'dropdown'], function () {
        layer.closeAll();
        table = layui.table
            , $ = layui.$
            , laytpl = layui.laytpl
            , dropdown = layui.dropdown;

        //渲染
        window.ins = table.render({
            elem: '#test'
            , limit: 10
            //, height: 860
            //,width: 600
            , title: '用户数据表'
            , url: 'DataProvide/GetAuthorityData'
            , method: 'Post'
            , request: {
                pageName: 'curr' //页码的参数名称，默认：page
                , limitName: 'nums' //每页数据量的参数名，默认：limit
            }
            , parseData: function (res) { //把数据转换为指定格式code,msg,count,data //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
            //,size: 'lg'
            , page: {

            }
            //,autoSort: false //是否自动排序。如果否，则由服务端排序
            //,loading: false
            , totalRow: true
            , limit: 20
            , toolbar: '#toolbar'
            , defaultToolbar: ['filter', 'exports', 'print', {
                title: '帮助'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , cols: [[
                { type: 'checkbox', fixed: 'left' }
                , { field: 'xuhao', title: '序号', type: 'numbers'}
                , { field: 'authorityName', title: '权限名称', edit: 'text', templet: '#usernameTpl' }
                , { field: 'authorityCode', title: '权限代码', edit: 'text', templet: '#usernameTpl' }
                , { field: 'authorityType', title: '权限类型', edit: 'text', sort: true }  
                , { field: 'createDate', title: '创建时间' }
                , { field: 'createName', title: '创建人' }
                , { field: 'updateDate', title: '更新时间' }
                , { field: 'updateName', title: '更新人' }
                , { field: 'authorityDescription', title: '备注', templet: '#cityTpl1' }
                , { fixed: 'right', title: '操作', toolbar: '#barOperation', width: 150 }
            ]]

            , initSort1: {
                field: 'experience' //排序字段，对应 cols 设定的各字段名
                , type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }

            , headers: { headers_token: 'sasasas' }
            , where: {
                test: '初始 test 参数'
                , token: '初始 token'
                , key: 'experience'
                , order: 'asc'
            }

            , done: function () {
                //下拉菜单
                dropdown.render({
                    elem: '#dropdown' //可绑定在任意元素中，此处以上述按钮为例
                    , data: [{
                        id: 0,
                        title: '刷新'
                    }]
                    //菜单被点击的事件
                    , click: function (obj) {
                        table.reload('test');
                    }
                });
            }

            , error: function (res, msg) {
                console.log(res, msg)
            }
          
        });

        //工具栏事件
        table.on('toolbar(test)', function (obj) {
            console.log(obj);
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    layer.msg('添加');
                    layer.open({
                        type: 2,
                        title: '权限信息编辑',
                        area: ['700px', '500px'],
                        content: 'Authority/Edit',

                    })
                    break;
                case 'update':
                    layer.msg('编辑');
                    break;
                case 'delete':
                    layer.msg('删除');
                    break;
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'getData':
                    var getData = table.getData(obj.config.id);
                    console.log(getData);
                    layer.alert(JSON.stringify(getData));
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选')
                    break;
                case 'LAYTABLE_TIPS':
                    layer.alert('Table for layui-v' + layui.v);
                    break;
                case 'reload':
                    //深度重载
                    var instReload = table.reload('test', {

                        where: {
                            abc: 123
                            , test: '新的 test1'
                        }
                        , page: { curr: 5, limit: 20 }
                        , cols: ins1.config.cols
                        //,height: 300
                        //,url: 'x'
                    }, true);
                    break;
                case 'reload2':
                    //浅重载
                    table.reload('test', {
                        where: {
                            efg: 'sasasas'
                            //,test: '新的 test2'
                            //,token: '新的 token2'
                        }
                        , cols: [[
                            { type: 'checkbox', fixed: 'left' }
                            , { field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true, totalRowText: '合计：' }
                            , { field: 'sex', title: '性别', width: 80, edit: 'text', sort: true }
                            , { field: 'experience', title: '积分', width: 80, sort: true, totalRow: true, templet: '<div>{{ d.experience }} 分</div>' }
                            , { field: 'logins', title: '登入次数', width: 100, sort: true, totalRow: true }
                            , { field: 'joinTime', title: '加入时间', width: 120 }
                        ]]
                        //,height: 500
                    });
                    break;
            };
        });

        table.on('tool(test)', function (obj) {
            var data = obj.data;
            console.log(data);
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {

                    //向服务端发送删除指令
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        data: data.field,
                        url: '@Url.Action("Delete", "Authority")?id=' + data.id,
                        success: function (message) {
                            if (message == "") {
                                obj.del();
                                layer.close(index);
                                layer.msg('删除成功');
                                @*location.location = '@Url.Action("Index","Home")';*@
                            }
                            else {
                                layer.msg(message);
                                return false;
                            }
                        }, error: function (e) {
                            layer.msg("请求异常，请重试", { shift: 6 })
                        }
                    })

                });
            } else if (obj.event === 'edit') {
                //layer.prompt({
                //    formType: 2
                //    , value: data.email
                //}, function (value, index) {
                //    obj.update({
                //        email: value
                //    });
                //    layer.close(index);
                //});
                layer.open({
                    type: 2,
                    title: '权限信息编辑',
                    area: ['800px', '600px'],
                    content: 'Authority/Edit?id=' + data.id,

                })
            }
        });
    })    

    function reload() {
        var index = layer.load(1);
        layer.close(index);
        table.reload('test');
    }
</script>
