<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>有道道云笔记</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/bootstrap/dist/css/dashboard.css" rel="stylesheet" />
    <link href="~/mycss-js/css/layout.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/ztree/js/jquery.ztree.core.js"></script>
    <link href="~/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand col-my-lg-11" href="#">
                    <img src="~/image/logo.jpg" alt="" width="30" height="24" class="d-inline-block align-top">
                    云笔记logo
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ms-md-auto mb-2 mb-md-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="#">Index</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">云笔记</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Blog">我的博客</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">search</button>
                    </form>
                </div>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">个人信息</a></li>
                                <li><a class="dropdown-item" href="#">账号设置</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-my-lg-11 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Note" asp-action="Index">
                                <i class="bi-file-text-fill"></i>
                                最新文档
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi-person-badge-fill"></i>
                                与我分享
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi-folder-fill"></i>
                                我的文件夹
                            </a>
                            <ul id="treeDemo" class="ztree"></ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                <i class="bi-star-fill"></i>
                                收藏
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                <i class="bi-trash-fill"></i>
                                回收站
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
         
            @RenderBody()

        </div>
    </div>
    <script>
        var zTreeObj;
        // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
        var setting = {};
        // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
        var zNodes = [
            {
                name: "test1", open: true, children: [
                    { name: "test1_1" }, { name: "test1_2" }]
            },
            {
                name: "test2", open: true, children: [
                    { name: "test2_1" }, { name: "test2_2" }]
            }
        ];

        $(document).ready(function () {
            zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        });
    </script>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - CloudNote.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    @*<script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/bootstrap/dist/js/bootstrap.bundle.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
