<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>有道道云笔记</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/mini-ui/css/themes/default/miniui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color:#398dee">
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="navbar-brand" asp-controller="Note" asp-action="Index">云笔记logo</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" asp-controller="Note" asp-action="Index"></a>
                </li>
                <li class="nav-item" style="margin-left:55px">
                    <a class="nav-link" asp-controller="Note" asp-action="Index">云笔记</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" @*href="/Note/Index/"*@ onclick="alert('待开放')">云协作</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item dropdown">
                <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    我的
                </a>
                <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
                    <a class="dropdown-item" href="#">个人信息</a>
                    <a class="dropdown-item" href="#">账号设置</a>
                    @*<ul class="navbar-nav ml-md-auto">
                            <li class="nav-item dropdown">

                                <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
                                    <a class="dropdown-item" href="#">账号信息</a>
                                    <a class="dropdown-item" href="#">账号安全</a>
                                    <a class="dropdown-item" href="#">保存邮件到笔记</a>
                                    <a class="dropdown-item" href="#">修改阅读密码</a>
                                    <a class="dropdown-item" href="#">邮件提醒</a>
                                    <a class="dropdown-item" href="#">应用管理</a>
                                </div>
                            </li>
                        </ul>*@
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">导入笔记</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">帮助</a>
                    <a class="dropdown-item" href="#">意见反馈</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">退出登录</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#" onclick="alert('待开放')">官网</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#" onclick="alert('待开放')">会员</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#" onclick="alert('待开放')">客户端下载</a>
            </li>

            <li class="nav-item dropdown">


            </li>

            <li class="nav-item">
                <a class="nav-link pl-2 pr-1 mx-1 py-3 my-n2" href="https://github.com/twbs" target="_blank" rel="noopener" aria-label="GitHub">
                    <svg xmlns="http://www.w3.org/2000/svg" class="navbar-nav-svg" viewBox="0 0 512 499.36" role="img" focusable="false"><title>GitHub</title><path fill="currentColor" fill-rule="evenodd" d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"></path></svg>
                </a>
            </li>
        </ul>

    </header>
    <div class="main-container row">
        @RenderBody()
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - CloudNote.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/mini-ui/js/miniui.js"></script>
    @*<script src="~/mini-ui/js/boot.js"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
